Importation des modules utiles pour l'étude

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:

def create_coding_table(data, ordinale_order={}):
    tab_de_codage = pd.DataFrame()

    for col in data.columns:
        unique_values = data[col].dropna().unique()
        if col in ordinale_order:
            for val in ordinale_order[col]:
               if val in unique_values:
                    tab_de_codage[f"{col}_{val}"] = 0
        else:
            for val in unique_values:
                tab_de_codage[f"{col}_{val}"] = 0

    for i in range(data.shape[0]):
        for col in data.columns:
            value = data.loc[i, col]
            if pd.notna(value):

                if col in ordinale_order:
                    for val in ordinale_order[col]:
                        tab_de_codage.loc[i, f"{col}_{val}"] = 1
                        if val == value:
                            break
                else:
                    tab_de_codage.loc[i, f"{col}_{value}"] = 1

    tab_de_codage.reset_index(drop=True, inplace=True)
    tab_de_codage = tab_de_codage.fillna(0)
    tab_de_codage = tab_de_codage.astype(int)

    return tab_de_codage

data = './backend/coding_table/dataset_forms.csv'

df = pd.read_csv(data)
ord = {'Q3': [1, 2, 3, 4, 5], 'Q5': ['Non, pas du tout', 'Non, pas suffisamment', 'Oui, mais il manque certains aspects pratiques', 'Oui, complètement']}
create_coding_table(df, ordinale_order=ord)

,Q1_Masculin,Q1_Feminin,Q2_Science de Données,Q2_Sécurité Informatique,Q2_Intelligence Artificielle,Q3_1,Q3_2,Q3_3,Q3_4,Q3_5,...,"Q5_Non, pas du tout","Q5_Non, pas suffisamment","Q5_Oui, mais il manque certains aspects pratiques","Q5_Oui, complètement",Q6_Devenir employé en grandes entreprises,Q6_Recherche scientifique,Q6_Je ne sais pas encore,Q6_Créer une start-up,"Q6_Domaine commerciale (par exemple, vente de produits, de formations etc..)",Q6_Travailler en freelance
0,1,0,1,0,0,1,1,1,1,0,...,1,1,1,0,1,0,0,0,0,0
1,0,1,1,0,0,1,1,1,1,0,...,1,1,0,0,0,1,0,0,0,0
2,1,0,0,1,0,1,1,1,0,0,...,1,1,0,0,1,0,0,0,0,0
3,1,0,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
4,0,1,0,1,0,1,1,1,0,0,...,1,1,0,0,0,0,0,1,0,0
5,1,0,1,0,0,1,1,1,1,1,...,1,1,1,0,1,0,0,0,0,0
6,1,0,1,0,0,1,1,1,1,1,...,1,1,1,0,0,1,0,0,0,0
7,1,0,0,0,1,1,1,1,1,0,...,1,1,1,0,0,0,0,0,1,0
8,1,0,1,0,0,1,1,1,1,0,...,1,1,1,0,0,0,0,0,0,1
9,1,0,0,0,1,1,1,1,0,0,...,1,1,1,0,0,0,0,0,0,1
10,1,0,1,0,0,1,1,1,1,1,...,1,1,1,0,0,0,0,1,0,0
11,1,0,0,1,0,1,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
12,0,1,1,0,0,1,1,1,1,0,...,1,1,1,1,0,0,1,0,0,0
13,1,0,1,0,0,1,1,1,1,1,...,1,1,1,0,0,0,1,0,0,0
14,1,0,1,0,0,1,1,1,1,0,...,1,1,0,0,0,0,0,0,0,1
15,1,0,0,1,0,1,1,1,1,0,...,1,1,0,0,0,0,0,1,0,0
16,1,0,0,1,0,1,1,1,1,0,...,1,1,0,0,0,0,0,0,0,1
17,0,1,1,0,0,1,1,1,1,1,...,1,1,1,0,0,0,0,0,1,0
18,0,1,0,0,1,1,1,1,1,1,...,1,1,0,0,0,0,1,0,0,0
19,0,1,0,0,1,1,1,1,1,1,...,1,1,0,0,0,0,1,0,0,0
20,1,0,1,0,0,1,1,1,1,0,...,1,1,1,0,1,0,0,0,0,0

Affichage des informations du tableau de données

On organise les données en ajoutant un identifiant

In [7]:
def tab_de_distance(file):

  tab_codage = pd.read_csv(file)

  # Mesure de ressemblance
  rows, columns = tab_codage.shape
  tab_de_distance = pd.DataFrame(np.zeros((columns, columns)), columns=tab_codage.columns)

  def calcRessemblance(a, b):
    resultat = 0
    for i in range(0, len(a)):
      if(a[i] == b[i]):
        resultat += 1
    return resultat/len(a)
      

  for i in range(0, len(tab_codage.columns)):
    for j in range(0, len(tab_codage.columns)):
      tab_de_distance.iloc[i, j] =(calcRessemblance(tab_codage.iloc[:, i], tab_codage.iloc[:, j]))

  return tab_de_distance

tab_codage = './backend/coding_table/tableau_de_codage.csv'

tab_de_distance(tab_codage)

,Q1_1,Q1_2,Q2_1,Q2_2,Q2_3,Q3_1,Q3_2,Q3_3,Q3_4,Q3_5,...,Q5_1,Q5_2,Q5_3,Q5_4,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,Q6_6
0,1.000000,0.000000,0.523810,0.476190,0.285714,0.714286,0.666667,0.619048,0.571429,0.333333,...,0.666667,0.333333,0.333333,0.238095,0.476190,0.333333,0.238095,0.333333,0.285714,0.476190
1,0.000000,1.000000,0.476190,0.523810,0.714286,0.285714,0.333333,0.380952,0.428571,0.666667,...,0.333333,0.666667,0.666667,0.761905,0.523810,0.666667,0.761905,0.666667,0.714286,0.523810
2,0.523810,0.476190,1.000000,0.190476,0.285714,0.523810,0.571429,0.619048,0.761905,0.619048,...,0.761905,0.238095,0.428571,0.523810,0.571429,0.523810,0.428571,0.428571,0.476190,0.476190
3,0.476190,0.523810,0.190476,1.000000,0.523810,0.285714,0.238095,0.190476,0.142857,0.380952,...,0.238095,0.761905,0.761905,0.666667,0.619048,0.666667,0.571429,0.761905,0.619048,0.619048
4,0.285714,0.714286,0.285714,0.523810,1.000000,0.190476,0.238095,0.285714,0.333333,0.666667,...,0.523810,0.571429,0.761905,0.761905,0.619048,0.666667,0.761905,0.666667,0.809524,0.714286
5,0.714286,0.285714,0.523810,0.285714,0.190476,1.000000,0.952381,0.904762,0.761905,0.333333,...,0.476190,0.428571,0.047619,0.047619,0.190476,0.142857,0.238095,0.142857,0.095238,0.190476
6,0.666667,0.333333,0.571429,0.238095,0.238095,0.952381,1.000000,0.952381,0.809524,0.380952,...,0.523810,0.476190,0.000000,0.095238,0.238095,0.190476,0.190476,0.190476,0.142857,0.238095
7,0.619048,0.380952,0.619048,0.190476,0.285714,0.904762,0.952381,1.000000,0.857143,0.428571,...,0.571429,0.428571,0.047619,0.142857,0.285714,0.142857,0.238095,0.238095,0.190476,0.285714
8,0.571429,0.428571,0.761905,0.142857,0.333333,0.761905,0.809524,0.857143,1.000000,0.571429,...,0.619048,0.380952,0.190476,0.285714,0.333333,0.285714,0.380952,0.285714,0.333333,0.333333
9,0.333333,0.666667,0.619048,0.380952,0.666667,0.333333,0.380952,0.428571,0.571429,1.000000,...,0.666667,0.428571,0.619048,0.619048,0.571429,0.619048,0.714286,0.619048,0.666667,0.476190
10,0.333333,0.666667,0.523810,0.666667,0.571429,0.238095,0.285714,0.238095,0.285714,0.523810,...,0.476190,0.523810,0.714286,0.809524,0.666667,0.714286,0.714286,0.714286,0.666667,0.571429
11,0.380952,0.619048,0.571429,0.619048,0.619048,0.190476,0.142857,0.190476,0.333333,0.571429,...,0.523810,0.476190,0.857143,0.761905,0.619048,0.761905,0.666667,0.761905,0.714286,0.714286
12,0.571429,0.428571,0.571429,0.619048,0.428571,0.380952,0.428571,0.476190,0.523810,0.571429,...,0.523810,0.571429,0.571429,0.571429,0.714286,0.571429,0.380952,0.571429,0.619048,0.619048
13,0.333333,0.666667,0.428571,0.666667,0.857143,0.047619,0.095238,0.142857,0.285714,0.619048,...,0.571429,0.523810,0.904762,0.904762,0.761905,0.809524,0.714286,0.809524,0.952381,0.761905
14,0.238095,0.761905,0.333333,0.571429,0.952381,0.142857,0.190476,0.238095,0.285714,0.714286,...,0.476190,0.619048,0.809524,0.809524,0.666667,0.714286,0.809524,0.714286,0.761905,0.761905
15,0.666667,0.333333,0.761905,0.238095,0.523810,0.476190,0.523810,0.571429,0.619048,0.666667,...,1.000000,0.095238,0.476190,0.476190,0.619048,0.476190,0.380952,0.476190,0.619048,0.523810
16,0.333333,0.666667,0.238095,0.761905,0.571429,0.428571,0.476190,0.428571,0.380952,0.428571,...,0.095238,1.000000,0.523810,0.523810,0.476190,0.619048,0.523810,0.619048,0.476190,0.571429
17,0.333333,0.666667,0.428571,0.761905,0.761905,0.047619,0.000000,0.047619,0.190476,0.619048,...,0.476190,0.523810,1.000000,0.904762,0.761905,0.809524,0.809524,0.809524,0.857143,0.761905
18,0.238095,0.761905,0.523810,0.666667,0.761905,0.047619,0.095238,0.142857,0.285714,0.619048,...,0.476190,0.523810,0.904762,1.000000,0.761905,0.809524,0.809524,0.809524,0.857143,0.761905
19,0.476190,0.523810,0.571429,0.619048,0.619048,0.190476,0.238095,0.285714,0.333333,0.571429,...,0.619048,0.476190,0.761905,0.761905,1.000000,0.666667,0.571429,0.666667,0.714286,0.619048
20,0.333333,0.666667,0.523810,0.666667,0.666667,0.142857,0.190476,0.142857,0.285714,0.619048,...,0.476190,0.619048,0.809524,0.809524,0.666667,1.000000,0.619048,0.714286,0.761905,0.666667
21,0.238095,0.761905,0.428571,0.571429,0.761905,0.238095,0.190476,0.238095,0.380952,0.714286,...,0.380952,0.523810,0.809524,0.809524,0.571429,0.619048,1.000000,0.619048,0.666667,0.571429
22,0.333333,0.666667,0.428571,0.761905,0.666667,0.142857,0.190476,0.238095,0.285714,0.619048,...,0.476190,0.619048,0.809524,0.809524,0.666667,0.714286,0.619048,1.000000,0.761905,0.666667
23,0.285714,0.714286,0.476190,0.619048,0.809524,0.095238,0.142857,0.190476,0.333333,0.666667,...,0.619048,0.476190,0.857143,0.857143,0.714286,0.761905,0.666667,0.761905,1.000000,0.714286
24,0.476190,0.523810,0.476190,0.619048,0.714286,0.190476,0.238095,0.285714,0.333333,0.476190,...,0.523810,0.571429,0.761905,0.761905,0.619048,0.666667,0.571429,0.666667,0.714286,1.000000

In [8]:
def Tab_burt(file):
  tab_de_codage_disjonctif_complet = pd.read_csv(file)
  Burt = tab_de_codage_disjonctif_complet.T.dot(tab_de_codage_disjonctif_complet)
  return Burt
  
Tab_burt("./backend/coding_table/tableau_de_codage_disjonctif_complet.csv")

,Q1_1,Q1_2,Q2_1,Q2_2,Q2_3,Q3_1,Q3_2,Q3_3,Q3_4,Q3_5,...,Q5_1,Q5_2,Q5_3,Q5_4,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,Q6_6
Q1_1,15,0,8,5,2,7,2,1,4,1,...,9,5,1,0,4,2,2,2,1,4
Q1_2,0,6,3,1,2,2,1,0,3,0,...,1,4,0,1,0,1,3,1,1,0
Q2_1,8,3,11,0,0,6,0,0,5,0,...,8,2,0,1,3,2,2,1,1,2
Q2_2,5,1,0,6,0,2,2,1,0,1,...,0,5,1,0,1,1,1,2,0,1
Q2_3,2,2,0,0,4,1,1,0,2,0,...,2,2,0,0,0,0,2,0,1,1
Q3_1,7,2,6,2,1,9,0,0,0,0,...,4,4,0,1,2,1,1,1,1,3
Q3_2,2,1,0,2,1,0,3,0,0,0,...,1,2,0,0,1,0,0,1,0,1
Q3_3,1,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
Q3_4,4,3,5,0,2,0,0,0,7,0,...,5,2,0,0,1,1,3,1,1,0
Q3_5,1,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,1,0,0,0,0
Q4_1,3,2,3,2,0,2,1,0,1,1,...,2,2,0,1,1,1,2,1,0,0
Q4_2,3,1,3,1,0,2,0,1,1,0,...,2,1,1,0,0,1,1,1,0,1
Q4_3,7,1,5,3,0,4,1,0,3,0,...,4,4,0,0,3,1,0,1,1,2
Q4_4,1,0,0,0,1,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
Q4_5,1,2,0,0,3,0,1,0,2,0,...,1,2,0,0,0,0,2,0,0,1
Q5_1,9,1,8,0,2,4,1,0,5,0,...,10,0,0,0,3,1,1,1,2,2
Q5_2,5,4,2,5,2,4,2,0,2,1,...,0,9,0,0,1,2,2,2,0,2
Q5_3,1,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
Q5_4,0,1,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
Q6_1,4,0,3,1,0,2,1,0,1,0,...,3,1,0,0,4,0,0,0,0,0
Q6_2,2,1,2,1,0,1,0,0,1,1,...,1,2,0,0,0,3,0,0,0,0
Q6_3,2,3,2,1,2,1,0,1,3,0,...,1,2,1,1,0,0,5,0,0,0
Q6_4,2,1,1,2,0,1,1,0,1,0,...,1,2,0,0,0,0,0,3,0,0
Q6_5,1,1,1,0,1,1,0,0,1,0,...,2,0,0,0,0,0,0,0,2,0
Q6_6,4,0,2,1,1,3,1,0,0,0,...,2,2,0,0,0,0,0,0,0,4

In [62]:
def TabContingence(file):
  tab_de_codage_disjonctif_complet = pd.read_csv(file)
  Burt = tab_de_codage_disjonctif_complet.T.dot(tab_de_codage_disjonctif_complet)

  lest = [0]
  index = 0 
  to_start = 'Q1_1'
  for i in Burt.columns:
    if(to_start[0:2] == i[0:2]):
      index = index + 1
    else:
      lest.append(index)
      index = index + 1
      to_start = i

  lest.append(index)

  for i in range(1, len(lest)):
    for j in range(i + 1, len(lest)):
      tab_contingence = Burt.iloc[lest[i-1]:lest[i],lest[j-1]:lest[j]]
      df = pd.DataFrame(tab_contingence)
      print(df)


TabContingence("./backend/coding_table/tableau_de_codage_disjonctif_complet.csv")

      Q2_1  Q2_2  Q2_3
Q1_1     8     5     2
Q1_2     3     1     2
      Q3_1  Q3_2  Q3_3  Q3_4  Q3_5
Q1_1     7     2     1     4     1
Q1_2     2     1     0     3     0
      Q4_1  Q4_2  Q4_3  Q4_4  Q4_5
Q1_1     3     3     7     1     1
Q1_2     2     1     1     0     2
      Q5_1  Q5_2  Q5_3  Q5_4
Q1_1     9     5     1     0
Q1_2     1     4     0     1
      Q6_1  Q6_2  Q6_3  Q6_4  Q6_5  Q6_6
Q1_1     4     2     2     2     1     4
Q1_2     0     1     3     1     1     0
      Q3_1  Q3_2  Q3_3  Q3_4  Q3_5
Q2_1     6     0     0     5     0
Q2_2     2     2     1     0     1
Q2_3     1     1     0     2     0
      Q4_1  Q4_2  Q4_3  Q4_4  Q4_5
Q2_1     3     3     5     0     0
Q2_2     2     1     3     0     0
Q2_3     0     0     0     1     3
      Q5_1  Q5_2  Q5_3  Q5_4
Q2_1     8     2     0     1
Q2_2     0     5     1     0
Q2_3     2     2     0     0
      Q6_1  Q6_2  Q6_3  Q6_4  Q6_5  Q6_6
Q2_1     3     2     2     1     1     2
Q2_2     1     1     1     2     0     1
Q2_3     0     0     2     0     1     1
      Q4_1  Q4_2  Q4_3  Q4_4  Q4_5
Q3_1     2     2     4     1     0
Q3_2     1     0     1     0     1
Q3_3     0     1     0     0     0
Q3_4     1     1     3     0     2
Q3_5     1     0     0     0     0
      Q5_1  Q5_2  Q5_3  Q5_4
Q3_1     4     4     0     1
Q3_2     1     2     0     0
Q3_3     0     0     1     0
Q3_4     5     2     0     0
Q3_5     0     1     0     0
      Q6_1  Q6_2  Q6_3  Q6_4  Q6_5  Q6_6
Q3_1     2     1     1     1     1     3
Q3_2     1     0     0     1     0     1
Q3_3     0     0     1     0     0     0
Q3_4     1     1     3     1     1     0
Q3_5     0     1     0     0     0     0
      Q5_1  Q5_2  Q5_3  Q5_4
Q4_1     2     2     0     1
Q4_2     2     1     1     0
Q4_3     4     4     0     0
Q4_4     1     0     0     0
Q4_5     1     2     0     0
      Q6_1  Q6_2  Q6_3  Q6_4  Q6_5  Q6_6
Q4_1     1     1     2     1     0     0
Q4_2     0     1     1     1     0     1
Q4_3     3     1     0     1     1     2
Q4_4     0     0     0     0     1     0
Q4_5     0     0     2     0     0     1
      Q6_1  Q6_2  Q6_3  Q6_4  Q6_5  Q6_6
Q5_1     3     1     1     1     2     2
Q5_2     1     2     2     2     0     2
Q5_3     0     0     1     0     0     0
Q5_4     0     0     1     0     0     0

In [2]:
import pandas as pd
import math

def nbValManquantes(pd):
  valManqua = {}
  for col in pd:
    sum = 0
    for row in pd[col]:
      if math.isnan(row):
        sum += 1

    valManqua[col] = sum 

  return valManqua

data = pd.read_csv("../../water_potability.csv" ) 
print(nbValManquantes(data))

{'ph': 491, 'Hardness': 0, 'Solids': 0, 'Chloramines': 0, 'Sulfate': 781, 'Conductivity': 0, 'Organic_carbon': 0, 'Trihalomethanes': 162, 'Turbidity': 0, 'Potability': 0}

In [74]:
import numpy as np

# Example data with NaN values
data = np.genfromtxt("../../water_potability.csv", delimiter=',', skip_header=1) 

def calculate_row_distances_with_nan(data, target_row_index):
    # Extract the target row
    target_row = data[target_row_index]

    data = data[~np.isnan(data[:, 0])]
    
    # Initialize an array to store distances
    distances = []

    for i, row in enumerate(data):
        if i == target_row_index:
            continue  # Skip the target row itself

        # Element-wise difference (ignoring NaN values)
        diff = row - target_row
        
        # Only calculate the squared difference where both elements are not NaN
        squared_diff = (diff ** 2)

        nan_count = np.sum(np.isnan(squared_diff))

        # Sum the squared differences, ignoring NaN values
        squared_sum = ((len(diff) - 1) / (len(diff) - nan_count)) * np.nansum(squared_diff)
        
        # Take the square root of the squared sum
        distance = np.sqrt(squared_sum)
        
        distances.append(distance)

    return np.array(distances)

target_row_index = 0
k = 2

distances = calculate_row_distances_with_nan(data, target_row_index)

k_min_indeces = np.argsort(distances)[:k]
filtered_data = data[~np.isnan(data[:, 0])]
first_column = filtered_data[:, 0]
val = np.average(first_column[k_min_indeces + 1])
print(val)
# We got our first element in the first row

6.00742683362464

In [233]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer

# Sample data with missing values (NaN)
data = np.genfromtxt("../../water_potability.csv", delimiter=",", skip_header=1) 

data = np.round(data, 0)

# Create the imputer with 2 neighbors
imputer = KNNImputer(n_neighbors=4, weights="uniform", metric="nan_euclidean")

data_x = np.array([[np.nan, 1.04890455e+02,
                    2.07913190e+04, 7.30021187e+00,
                    3.68516441e+02, 5.64308654e+02,
                    1.03797831e+01, 8.69909705e+01,
                    2.96313538e+00, 0.00000000e+00],
                   [3.71608008e+00, 1.29422921e+02,
                    1.86300579e+04, 6.63524588e+00,
                    np.nan, 5.92885359e+02,
                    1.51800131e+01, 5.63290763e+01,
                    4.50065627e+00, 0.00000000e+00],
                   [8.09912419e+00, 2.24236259e+02,
                    1.99095417e+04, 9.27588360e+00,
                    np.nan, 4.18606213e+02,
                    1.68686369e+01, 6.64200925e+01,
                    3.05593375e+00, 0.00000000e+00],
                   [8.31676588e+00, 2.14373394e+02,
                    2.20184174e+04, 8.05933238e+00,
                    3.56886136e+02, np.nan,
                    1.84365245e+01, 1.00341674e+02,
                    np.nan, 0.00000000e+00],
                   [np.nan, 1.81101509e+02,
                    1.79789863e+04, 6.54659997e+00,
                    3.10135738e+02, 3.98410813e+02,
                    1.15582794e+01, np.nan,
                    np.nan, 0.00000000e+00]])
# Impute missing values
imputed_data_scikit = imputer.fit_transform(data)
#imputed_data = pd.DataFrame(imputed_data)

#print("Original Data:")
#print(data)

In [236]:
import numpy as np

def knn_imputer(data, k=3):
    """
    Impute missing values in a dataset using the KNN algorithm.

    Parameters:
        data (numpy.ndarray): 2D array with missing values (NaN).
        k (int): Number of nearest neighbors to consider for imputation.

    Returns:
        numpy.ndarray: Data with NaN values imputed.
    """
    # Create a copy of the data to avoid modifying the original
    data_imputed = data.copy()

    # Get indices of rows and columns containing NaN values
    nan_indices = np.argwhere(np.isnan(data))
    
    # Mask of valid (non-NaN) entries
    valid_mask = ~np.isnan(data)

    for nan_row, nan_col in nan_indices:
        # Row with missing value
        target_row = data_imputed[nan_row]

        # Mask rows where the target column is valid
        valid_rows = valid_mask[:, nan_col]

        # Compute distances to all valid rows using broadcasting
        valid_data = data_imputed[valid_rows]
        distances = np.sqrt(
            np.nansum(((valid_data - target_row) ** 2) * valid_mask[valid_rows], axis=1)
        )

        # Sort distances and get indices of k nearest neighbors
        nearest_indices = np.argsort(distances)[:k]

        # Extract k nearest neighbor values for the target column
        neighbor_values = valid_data[nearest_indices, nan_col]

        # Impute the missing value with the mean of k neighbors
        data_imputed[nan_row, nan_col] = np.nanmean(neighbor_values)

    return data_imputed

imputed_data = knn_imputer(data, k=4)

In [235]:
import numpy as np

print(np.array_equal(np.round(imputed_data_scikit, 2), np.round(imputed_data, 2)))  # Output: False
print(imputed_data_scikit.shape)
print(imputed_data.shape)

# Find indices where the rounded values differ
mismatch_indices = np.where(np.round(imputed_data_scikit, 0) != np.round(imputed_data, 0))

print("Mismatch indices:", len(mismatch_indices[0]))

for i, j in zip(mismatch_indices[0], mismatch_indices[1]):
    print(f"Mismatch at row {i}, column {j}: scikit={imputed_data_scikit[i, j]}, custom={imputed_data[i, j]}")

False
(3276, 10)
(3276, 10)
Mismatch indices: 120
Mismatch at row 37, column 4: scikit=319.0, custom=308.75
Mismatch at row 48, column 0: scikit=6.5, custom=7.5
Mismatch at row 67, column 4: scikit=306.0, custom=309.5
Mismatch at row 74, column 0: scikit=7.0, custom=6.25
Mismatch at row 80, column 4: scikit=310.25, custom=321.25
Mismatch at row 90, column 0: scikit=7.0, custom=7.5
Mismatch at row 92, column 4: scikit=328.25, custom=339.75
Mismatch at row 118, column 7: scikit=66.25, custom=55.25
Mismatch at row 119, column 4: scikit=326.75, custom=328.0
Mismatch at row 123, column 4: scikit=271.5, custom=275.75
Mismatch at row 187, column 4: scikit=311.25, custom=316.75
Mismatch at row 204, column 4: scikit=378.25, custom=368.0
Mismatch at row 298, column 4: scikit=349.5, custom=336.0
Mismatch at row 320, column 0: scikit=7.5, custom=7.0
Mismatch at row 389, column 7: scikit=58.0, custom=64.25
Mismatch at row 396, column 0: scikit=7.25, custom=8.25
Mismatch at row 475, column 4: scikit=338.25, custom=326.25
Mismatch at row 540, column 4: scikit=302.0, custom=315.25
Mismatch at row 564, column 0: scikit=7.0, custom=6.5
Mismatch at row 568, column 4: scikit=313.25, custom=327.75
Mismatch at row 608, column 7: scikit=56.25, custom=63.0
Mismatch at row 613, column 4: scikit=318.25, custom=303.25
Mismatch at row 614, column 4: scikit=350.25, custom=329.25
Mismatch at row 641, column 7: scikit=67.5, custom=66.25
Mismatch at row 642, column 7: scikit=72.0, custom=65.25
Mismatch at row 645, column 0: scikit=6.75, custom=6.0
Mismatch at row 650, column 4: scikit=375.75, custom=373.0
Mismatch at row 668, column 7: scikit=65.0, custom=74.0
Mismatch at row 679, column 4: scikit=326.5, custom=322.75
Mismatch at row 720, column 4: scikit=319.75, custom=321.75
Mismatch at row 758, column 0: scikit=6.75, custom=7.75
Mismatch at row 798, column 7: scikit=50.25, custom=52.75
Mismatch at row 815, column 0: scikit=7.5, custom=7.25
Mismatch at row 825, column 4: scikit=335.25, custom=333.25
Mismatch at row 869, column 7: scikit=50.0, custom=63.0
Mismatch at row 873, column 4: scikit=388.75, custom=385.0
Mismatch at row 887, column 7: scikit=60.25, custom=65.0
Mismatch at row 919, column 4: scikit=323.75, custom=325.5
Mismatch at row 947, column 7: scikit=76.25, custom=77.25
Mismatch at row 963, column 7: scikit=60.25, custom=62.0
Mismatch at row 1064, column 4: scikit=309.5, custom=306.0
Mismatch at row 1069, column 0: scikit=7.5, custom=7.25
Mismatch at row 1089, column 4: scikit=338.75, custom=353.75
Mismatch at row 1214, column 0: scikit=7.0, custom=6.25
Mismatch at row 1234, column 7: scikit=54.75, custom=54.5
Mismatch at row 1270, column 4: scikit=350.75, custom=342.25
Mismatch at row 1307, column 4: scikit=371.0, custom=356.75
Mismatch at row 1370, column 0: scikit=9.75, custom=8.5
Mismatch at row 1384, column 4: scikit=337.5, custom=355.75
Mismatch at row 1389, column 4: scikit=346.5, custom=344.5
Mismatch at row 1393, column 0: scikit=7.25, custom=7.5
Mismatch at row 1415, column 4: scikit=335.0, custom=346.0
Mismatch at row 1423, column 4: scikit=388.75, custom=385.0
Mismatch at row 1437, column 7: scikit=78.75, custom=77.25
Mismatch at row 1446, column 7: scikit=69.25, custom=63.25
Mismatch at row 1449, column 7: scikit=64.5, custom=62.0
Mismatch at row 1468, column 4: scikit=363.75, custom=361.75
Mismatch at row 1517, column 4: scikit=328.5, custom=317.75
Mismatch at row 1585, column 4: scikit=328.25, custom=318.5
Mismatch at row 1611, column 0: scikit=7.25, custom=8.0
Mismatch at row 1613, column 7: scikit=78.75, custom=73.5
Mismatch at row 1652, column 4: scikit=340.75, custom=315.75
Mismatch at row 1676, column 0: scikit=6.75, custom=6.5
Mismatch at row 1681, column 4: scikit=349.0, custom=360.0
Mismatch at row 1694, column 0: scikit=8.0, custom=7.25
Mismatch at row 1742, column 0: scikit=7.0, custom=7.5
Mismatch at row 1760, column 7: scikit=51.0, custom=44.75
Mismatch at row 1778, column 7: scikit=67.25, custom=66.5
Mismatch at row 1788, column 4: scikit=351.0, custom=337.0
Mismatch at row 1792, column 4: scikit=339.0, custom=329.75
Mismatch at row 1794, column 4: scikit=338.75, custom=328.0
Mismatch at row 1805, column 7: scikit=68.5, custom=67.0
Mismatch at row 1806, column 7: scikit=63.0, custom=62.0
Mismatch at row 1808, column 0: scikit=6.75, custom=6.5
Mismatch at row 1904, column 4: scikit=322.25, custom=335.0
Mismatch at row 1988, column 0: scikit=7.25, custom=6.25
Mismatch at row 2021, column 4: scikit=358.0, custom=361.5
Mismatch at row 2034, column 7: scikit=48.5, custom=52.25
Mismatch at row 2051, column 0: scikit=7.0, custom=8.5
Mismatch at row 2129, column 0: scikit=8.0, custom=7.0
Mismatch at row 2135, column 0: scikit=7.75, custom=7.25
Mismatch at row 2166, column 4: scikit=313.25, custom=318.5
Mismatch at row 2238, column 4: scikit=330.75, custom=338.25
Mismatch at row 2240, column 4: scikit=334.0, custom=348.0
Mismatch at row 2245, column 4: scikit=362.75, custom=367.5
Mismatch at row 2247, column 4: scikit=325.5, custom=332.25
Mismatch at row 2267, column 7: scikit=66.5, custom=56.25
Mismatch at row 2296, column 4: scikit=344.75, custom=361.0
Mismatch at row 2302, column 0: scikit=7.0, custom=6.5
Mismatch at row 2308, column 0: scikit=7.5, custom=6.5
Mismatch at row 2320, column 4: scikit=314.0, custom=323.75
Mismatch at row 2364, column 4: scikit=326.25, custom=331.5
Mismatch at row 2386, column 0: scikit=6.0, custom=7.25
Mismatch at row 2418, column 4: scikit=355.5, custom=375.75
Mismatch at row 2441, column 4: scikit=310.0, custom=283.5
Mismatch at row 2449, column 4: scikit=324.75, custom=334.25
Mismatch at row 2544, column 4: scikit=337.75, custom=356.25
Mismatch at row 2554, column 0: scikit=7.5, custom=7.25
Mismatch at row 2574, column 7: scikit=67.0, custom=61.25
Mismatch at row 2648, column 4: scikit=258.75, custom=265.0
Mismatch at row 2690, column 4: scikit=323.75, custom=320.75
Mismatch at row 2711, column 7: scikit=78.25, custom=74.5
Mismatch at row 2739, column 0: scikit=7.75, custom=6.75
Mismatch at row 2763, column 7: scikit=81.5, custom=65.0
Mismatch at row 2771, column 4: scikit=354.75, custom=334.0
Mismatch at row 2840, column 4: scikit=345.5, custom=327.5
Mismatch at row 2874, column 4: scikit=356.25, custom=368.25
Mismatch at row 2886, column 0: scikit=8.25, custom=8.75
Mismatch at row 2888, column 4: scikit=346.0, custom=333.75
Mismatch at row 2944, column 4: scikit=349.5, custom=337.25
Mismatch at row 2999, column 7: scikit=72.0, custom=69.75
Mismatch at row 3035, column 4: scikit=343.75, custom=351.75
Mismatch at row 3052, column 4: scikit=326.0, custom=308.5
Mismatch at row 3058, column 7: scikit=73.5, custom=83.5
Mismatch at row 3080, column 4: scikit=295.5, custom=291.25
Mismatch at row 3125, column 4: scikit=357.0, custom=367.25
Mismatch at row 3190, column 4: scikit=331.0, custom=358.0
Mismatch at row 3222, column 4: scikit=344.5, custom=348.75
Mismatch at row 3272, column 4: scikit=356.5, custom=358.25
Mismatch at row 3272, column 7: scikit=59.0, custom=67.25