Importation des modules utiles pour l'étude

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:

def create_coding_table(data, ordinale_order={}):
    tab_de_codage = pd.DataFrame()

    for col in data.columns:
        unique_values = data[col].dropna().unique()
        if col in ordinale_order:
            for val in ordinale_order[col]:
               if val in unique_values:
                    tab_de_codage[f"{col}_{val}"] = 0
        else:
            for val in unique_values:
                tab_de_codage[f"{col}_{val}"] = 0

    for i in range(data.shape[0]):
        for col in data.columns:
            value = data.loc[i, col]
            if pd.notna(value):

                if col in ordinale_order:
                    for val in ordinale_order[col]:
                        tab_de_codage.loc[i, f"{col}_{val}"] = 1
                        if val == value:
                            break
                else:
                    tab_de_codage.loc[i, f"{col}_{value}"] = 1

    tab_de_codage.reset_index(drop=True, inplace=True)
    tab_de_codage = tab_de_codage.fillna(0)
    tab_de_codage = tab_de_codage.astype(int)

    return tab_de_codage

data = './backend/coding_table/dataset_forms.csv'

df = pd.read_csv(data)
ord = {'Q3': [1, 2, 3, 4, 5], 'Q5': ['Non, pas du tout', 'Non, pas suffisamment', 'Oui, mais il manque certains aspects pratiques', 'Oui, complètement']}
create_coding_table(df, ordinale_order=ord)

,Q1_Masculin,Q1_Feminin,Q2_Science de Données,Q2_Sécurité Informatique,Q2_Intelligence Artificielle,Q3_1,Q3_2,Q3_3,Q3_4,Q3_5,...,"Q5_Non, pas du tout","Q5_Non, pas suffisamment","Q5_Oui, mais il manque certains aspects pratiques","Q5_Oui, complètement",Q6_Devenir employé en grandes entreprises,Q6_Recherche scientifique,Q6_Je ne sais pas encore,Q6_Créer une start-up,"Q6_Domaine commerciale (par exemple, vente de produits, de formations etc..)",Q6_Travailler en freelance
0,1,0,1,0,0,1,1,1,1,0,...,1,1,1,0,1,0,0,0,0,0
1,0,1,1,0,0,1,1,1,1,0,...,1,1,0,0,0,1,0,0,0,0
2,1,0,0,1,0,1,1,1,0,0,...,1,1,0,0,1,0,0,0,0,0
3,1,0,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
4,0,1,0,1,0,1,1,1,0,0,...,1,1,0,0,0,0,0,1,0,0
5,1,0,1,0,0,1,1,1,1,1,...,1,1,1,0,1,0,0,0,0,0
6,1,0,1,0,0,1,1,1,1,1,...,1,1,1,0,0,1,0,0,0,0
7,1,0,0,0,1,1,1,1,1,0,...,1,1,1,0,0,0,0,0,1,0
8,1,0,1,0,0,1,1,1,1,0,...,1,1,1,0,0,0,0,0,0,1
9,1,0,0,0,1,1,1,1,0,0,...,1,1,1,0,0,0,0,0,0,1
10,1,0,1,0,0,1,1,1,1,1,...,1,1,1,0,0,0,0,1,0,0
11,1,0,0,1,0,1,1,0,0,0,...,1,1,0,0,0,1,0,0,0,0
12,0,1,1,0,0,1,1,1,1,0,...,1,1,1,1,0,0,1,0,0,0
13,1,0,1,0,0,1,1,1,1,1,...,1,1,1,0,0,0,1,0,0,0
14,1,0,1,0,0,1,1,1,1,0,...,1,1,0,0,0,0,0,0,0,1
15,1,0,0,1,0,1,1,1,1,0,...,1,1,0,0,0,0,0,1,0,0
16,1,0,0,1,0,1,1,1,1,0,...,1,1,0,0,0,0,0,0,0,1
17,0,1,1,0,0,1,1,1,1,1,...,1,1,1,0,0,0,0,0,1,0
18,0,1,0,0,1,1,1,1,1,1,...,1,1,0,0,0,0,1,0,0,0
19,0,1,0,0,1,1,1,1,1,1,...,1,1,0,0,0,0,1,0,0,0
20,1,0,1,0,0,1,1,1,1,0,...,1,1,1,0,1,0,0,0,0,0

Affichage des informations du tableau de données

On organise les données en ajoutant un identifiant

In [7]:
def tab_de_distance(file):

  tab_codage = pd.read_csv(file)

  # Mesure de ressemblance
  rows, columns = tab_codage.shape
  tab_de_distance = pd.DataFrame(np.zeros((columns, columns)), columns=tab_codage.columns)

  def calcRessemblance(a, b):
    resultat = 0
    for i in range(0, len(a)):
      if(a[i] == b[i]):
        resultat += 1
    return resultat/len(a)
      

  for i in range(0, len(tab_codage.columns)):
    for j in range(0, len(tab_codage.columns)):
      tab_de_distance.iloc[i, j] =(calcRessemblance(tab_codage.iloc[:, i], tab_codage.iloc[:, j]))

  return tab_de_distance

tab_codage = './backend/coding_table/tableau_de_codage.csv'

tab_de_distance(tab_codage)

,Q1_1,Q1_2,Q2_1,Q2_2,Q2_3,Q3_1,Q3_2,Q3_3,Q3_4,Q3_5,...,Q5_1,Q5_2,Q5_3,Q5_4,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,Q6_6
0,1.000000,0.000000,0.523810,0.476190,0.285714,0.714286,0.666667,0.619048,0.571429,0.333333,...,0.666667,0.333333,0.333333,0.238095,0.476190,0.333333,0.238095,0.333333,0.285714,0.476190
1,0.000000,1.000000,0.476190,0.523810,0.714286,0.285714,0.333333,0.380952,0.428571,0.666667,...,0.333333,0.666667,0.666667,0.761905,0.523810,0.666667,0.761905,0.666667,0.714286,0.523810
2,0.523810,0.476190,1.000000,0.190476,0.285714,0.523810,0.571429,0.619048,0.761905,0.619048,...,0.761905,0.238095,0.428571,0.523810,0.571429,0.523810,0.428571,0.428571,0.476190,0.476190
3,0.476190,0.523810,0.190476,1.000000,0.523810,0.285714,0.238095,0.190476,0.142857,0.380952,...,0.238095,0.761905,0.761905,0.666667,0.619048,0.666667,0.571429,0.761905,0.619048,0.619048
4,0.285714,0.714286,0.285714,0.523810,1.000000,0.190476,0.238095,0.285714,0.333333,0.666667,...,0.523810,0.571429,0.761905,0.761905,0.619048,0.666667,0.761905,0.666667,0.809524,0.714286
5,0.714286,0.285714,0.523810,0.285714,0.190476,1.000000,0.952381,0.904762,0.761905,0.333333,...,0.476190,0.428571,0.047619,0.047619,0.190476,0.142857,0.238095,0.142857,0.095238,0.190476
6,0.666667,0.333333,0.571429,0.238095,0.238095,0.952381,1.000000,0.952381,0.809524,0.380952,...,0.523810,0.476190,0.000000,0.095238,0.238095,0.190476,0.190476,0.190476,0.142857,0.238095
7,0.619048,0.380952,0.619048,0.190476,0.285714,0.904762,0.952381,1.000000,0.857143,0.428571,...,0.571429,0.428571,0.047619,0.142857,0.285714,0.142857,0.238095,0.238095,0.190476,0.285714
8,0.571429,0.428571,0.761905,0.142857,0.333333,0.761905,0.809524,0.857143,1.000000,0.571429,...,0.619048,0.380952,0.190476,0.285714,0.333333,0.285714,0.380952,0.285714,0.333333,0.333333
9,0.333333,0.666667,0.619048,0.380952,0.666667,0.333333,0.380952,0.428571,0.571429,1.000000,...,0.666667,0.428571,0.619048,0.619048,0.571429,0.619048,0.714286,0.619048,0.666667,0.476190
10,0.333333,0.666667,0.523810,0.666667,0.571429,0.238095,0.285714,0.238095,0.285714,0.523810,...,0.476190,0.523810,0.714286,0.809524,0.666667,0.714286,0.714286,0.714286,0.666667,0.571429
11,0.380952,0.619048,0.571429,0.619048,0.619048,0.190476,0.142857,0.190476,0.333333,0.571429,...,0.523810,0.476190,0.857143,0.761905,0.619048,0.761905,0.666667,0.761905,0.714286,0.714286
12,0.571429,0.428571,0.571429,0.619048,0.428571,0.380952,0.428571,0.476190,0.523810,0.571429,...,0.523810,0.571429,0.571429,0.571429,0.714286,0.571429,0.380952,0.571429,0.619048,0.619048
13,0.333333,0.666667,0.428571,0.666667,0.857143,0.047619,0.095238,0.142857,0.285714,0.619048,...,0.571429,0.523810,0.904762,0.904762,0.761905,0.809524,0.714286,0.809524,0.952381,0.761905
14,0.238095,0.761905,0.333333,0.571429,0.952381,0.142857,0.190476,0.238095,0.285714,0.714286,...,0.476190,0.619048,0.809524,0.809524,0.666667,0.714286,0.809524,0.714286,0.761905,0.761905
15,0.666667,0.333333,0.761905,0.238095,0.523810,0.476190,0.523810,0.571429,0.619048,0.666667,...,1.000000,0.095238,0.476190,0.476190,0.619048,0.476190,0.380952,0.476190,0.619048,0.523810
16,0.333333,0.666667,0.238095,0.761905,0.571429,0.428571,0.476190,0.428571,0.380952,0.428571,...,0.095238,1.000000,0.523810,0.523810,0.476190,0.619048,0.523810,0.619048,0.476190,0.571429
17,0.333333,0.666667,0.428571,0.761905,0.761905,0.047619,0.000000,0.047619,0.190476,0.619048,...,0.476190,0.523810,1.000000,0.904762,0.761905,0.809524,0.809524,0.809524,0.857143,0.761905
18,0.238095,0.761905,0.523810,0.666667,0.761905,0.047619,0.095238,0.142857,0.285714,0.619048,...,0.476190,0.523810,0.904762,1.000000,0.761905,0.809524,0.809524,0.809524,0.857143,0.761905
19,0.476190,0.523810,0.571429,0.619048,0.619048,0.190476,0.238095,0.285714,0.333333,0.571429,...,0.619048,0.476190,0.761905,0.761905,1.000000,0.666667,0.571429,0.666667,0.714286,0.619048
20,0.333333,0.666667,0.523810,0.666667,0.666667,0.142857,0.190476,0.142857,0.285714,0.619048,...,0.476190,0.619048,0.809524,0.809524,0.666667,1.000000,0.619048,0.714286,0.761905,0.666667
21,0.238095,0.761905,0.428571,0.571429,0.761905,0.238095,0.190476,0.238095,0.380952,0.714286,...,0.380952,0.523810,0.809524,0.809524,0.571429,0.619048,1.000000,0.619048,0.666667,0.571429
22,0.333333,0.666667,0.428571,0.761905,0.666667,0.142857,0.190476,0.238095,0.285714,0.619048,...,0.476190,0.619048,0.809524,0.809524,0.666667,0.714286,0.619048,1.000000,0.761905,0.666667
23,0.285714,0.714286,0.476190,0.619048,0.809524,0.095238,0.142857,0.190476,0.333333,0.666667,...,0.619048,0.476190,0.857143,0.857143,0.714286,0.761905,0.666667,0.761905,1.000000,0.714286
24,0.476190,0.523810,0.476190,0.619048,0.714286,0.190476,0.238095,0.285714,0.333333,0.476190,...,0.523810,0.571429,0.761905,0.761905,0.619048,0.666667,0.571429,0.666667,0.714286,1.000000

In [8]:
def Tab_burt(file):
  tab_de_codage_disjonctif_complet = pd.read_csv(file)
  Burt = tab_de_codage_disjonctif_complet.T.dot(tab_de_codage_disjonctif_complet)
  return Burt
  
Tab_burt("./backend/coding_table/tableau_de_codage_disjonctif_complet.csv")

,Q1_1,Q1_2,Q2_1,Q2_2,Q2_3,Q3_1,Q3_2,Q3_3,Q3_4,Q3_5,...,Q5_1,Q5_2,Q5_3,Q5_4,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,Q6_6
Q1_1,15,0,8,5,2,7,2,1,4,1,...,9,5,1,0,4,2,2,2,1,4
Q1_2,0,6,3,1,2,2,1,0,3,0,...,1,4,0,1,0,1,3,1,1,0
Q2_1,8,3,11,0,0,6,0,0,5,0,...,8,2,0,1,3,2,2,1,1,2
Q2_2,5,1,0,6,0,2,2,1,0,1,...,0,5,1,0,1,1,1,2,0,1
Q2_3,2,2,0,0,4,1,1,0,2,0,...,2,2,0,0,0,0,2,0,1,1
Q3_1,7,2,6,2,1,9,0,0,0,0,...,4,4,0,1,2,1,1,1,1,3
Q3_2,2,1,0,2,1,0,3,0,0,0,...,1,2,0,0,1,0,0,1,0,1
Q3_3,1,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
Q3_4,4,3,5,0,2,0,0,0,7,0,...,5,2,0,0,1,1,3,1,1,0
Q3_5,1,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,1,0,0,0,0
Q4_1,3,2,3,2,0,2,1,0,1,1,...,2,2,0,1,1,1,2,1,0,0
Q4_2,3,1,3,1,0,2,0,1,1,0,...,2,1,1,0,0,1,1,1,0,1
Q4_3,7,1,5,3,0,4,1,0,3,0,...,4,4,0,0,3,1,0,1,1,2
Q4_4,1,0,0,0,1,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
Q4_5,1,2,0,0,3,0,1,0,2,0,...,1,2,0,0,0,0,2,0,0,1
Q5_1,9,1,8,0,2,4,1,0,5,0,...,10,0,0,0,3,1,1,1,2,2
Q5_2,5,4,2,5,2,4,2,0,2,1,...,0,9,0,0,1,2,2,2,0,2
Q5_3,1,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
Q5_4,0,1,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
Q6_1,4,0,3,1,0,2,1,0,1,0,...,3,1,0,0,4,0,0,0,0,0
Q6_2,2,1,2,1,0,1,0,0,1,1,...,1,2,0,0,0,3,0,0,0,0
Q6_3,2,3,2,1,2,1,0,1,3,0,...,1,2,1,1,0,0,5,0,0,0
Q6_4,2,1,1,2,0,1,1,0,1,0,...,1,2,0,0,0,0,0,3,0,0
Q6_5,1,1,1,0,1,1,0,0,1,0,...,2,0,0,0,0,0,0,0,2,0
Q6_6,4,0,2,1,1,3,1,0,0,0,...,2,2,0,0,0,0,0,0,0,4

In [62]:
def TabContingence(file):
  tab_de_codage_disjonctif_complet = pd.read_csv(file)
  Burt = tab_de_codage_disjonctif_complet.T.dot(tab_de_codage_disjonctif_complet)

  lest = [0]
  index = 0 
  to_start = 'Q1_1'
  for i in Burt.columns:
    if(to_start[0:2] == i[0:2]):
      index = index + 1
    else:
      lest.append(index)
      index = index + 1
      to_start = i

  lest.append(index)

  for i in range(1, len(lest)):
    for j in range(i + 1, len(lest)):
      tab_contingence = Burt.iloc[lest[i-1]:lest[i],lest[j-1]:lest[j]]
      df = pd.DataFrame(tab_contingence)
      print(df)


TabContingence("./backend/coding_table/tableau_de_codage_disjonctif_complet.csv")

      Q2_1  Q2_2  Q2_3
Q1_1     8     5     2
Q1_2     3     1     2
      Q3_1  Q3_2  Q3_3  Q3_4  Q3_5
Q1_1     7     2     1     4     1
Q1_2     2     1     0     3     0
      Q4_1  Q4_2  Q4_3  Q4_4  Q4_5
Q1_1     3     3     7     1     1
Q1_2     2     1     1     0     2
      Q5_1  Q5_2  Q5_3  Q5_4
Q1_1     9     5     1     0
Q1_2     1     4     0     1
      Q6_1  Q6_2  Q6_3  Q6_4  Q6_5  Q6_6
Q1_1     4     2     2     2     1     4
Q1_2     0     1     3     1     1     0
      Q3_1  Q3_2  Q3_3  Q3_4  Q3_5
Q2_1     6     0     0     5     0
Q2_2     2     2     1     0     1
Q2_3     1     1     0     2     0
      Q4_1  Q4_2  Q4_3  Q4_4  Q4_5
Q2_1     3     3     5     0     0
Q2_2     2     1     3     0     0
Q2_3     0     0     0     1     3
      Q5_1  Q5_2  Q5_3  Q5_4
Q2_1     8     2     0     1
Q2_2     0     5     1     0
Q2_3     2     2     0     0
      Q6_1  Q6_2  Q6_3  Q6_4  Q6_5  Q6_6
Q2_1     3     2     2     1     1     2
Q2_2     1     1     1     2     0     1
Q2_3     0     0     2     0     1     1
      Q4_1  Q4_2  Q4_3  Q4_4  Q4_5
Q3_1     2     2     4     1     0
Q3_2     1     0     1     0     1
Q3_3     0     1     0     0     0
Q3_4     1     1     3     0     2
Q3_5     1     0     0     0     0
      Q5_1  Q5_2  Q5_3  Q5_4
Q3_1     4     4     0     1
Q3_2     1     2     0     0
Q3_3     0     0     1     0
Q3_4     5     2     0     0
Q3_5     0     1     0     0
      Q6_1  Q6_2  Q6_3  Q6_4  Q6_5  Q6_6
Q3_1     2     1     1     1     1     3
Q3_2     1     0     0     1     0     1
Q3_3     0     0     1     0     0     0
Q3_4     1     1     3     1     1     0
Q3_5     0     1     0     0     0     0
      Q5_1  Q5_2  Q5_3  Q5_4
Q4_1     2     2     0     1
Q4_2     2     1     1     0
Q4_3     4     4     0     0
Q4_4     1     0     0     0
Q4_5     1     2     0     0
      Q6_1  Q6_2  Q6_3  Q6_4  Q6_5  Q6_6
Q4_1     1     1     2     1     0     0
Q4_2     0     1     1     1     0     1
Q4_3     3     1     0     1     1     2
Q4_4     0     0     0     0     1     0
Q4_5     0     0     2     0     0     1
      Q6_1  Q6_2  Q6_3  Q6_4  Q6_5  Q6_6
Q5_1     3     1     1     1     2     2
Q5_2     1     2     2     2     0     2
Q5_3     0     0     1     0     0     0
Q5_4     0     0     1     0     0     0

In [2]:
import pandas as pd
import math

def nbValManquantes(pd):
  valManqua = {}
  for col in pd:
    sum = 0
    for row in pd[col]:
      if math.isnan(row):
        sum += 1

    valManqua[col] = sum 

  return valManqua

data = pd.read_csv("../../water_potability.csv" ) 
print(nbValManquantes(data))

{'ph': 491, 'Hardness': 0, 'Solids': 0, 'Chloramines': 0, 'Sulfate': 781, 'Conductivity': 0, 'Organic_carbon': 0, 'Trihalomethanes': 162, 'Turbidity': 0, 'Potability': 0}

In [74]:
import numpy as np

# Example data with NaN values
data = np.genfromtxt("../../water_potability.csv", delimiter=',', skip_header=1) 

def calculate_row_distances_with_nan(data, target_row_index):
    # Extract the target row
    target_row = data[target_row_index]

    data = data[~np.isnan(data[:, 0])]
    
    # Initialize an array to store distances
    distances = []

    for i, row in enumerate(data):
        if i == target_row_index:
            continue  # Skip the target row itself

        # Element-wise difference (ignoring NaN values)
        diff = row - target_row
        
        # Only calculate the squared difference where both elements are not NaN
        squared_diff = (diff ** 2)

        nan_count = np.sum(np.isnan(squared_diff))

        # Sum the squared differences, ignoring NaN values
        squared_sum = ((len(diff) - 1) / (len(diff) - nan_count)) * np.nansum(squared_diff)
        
        # Take the square root of the squared sum
        distance = np.sqrt(squared_sum)
        
        distances.append(distance)

    return np.array(distances)

target_row_index = 0
k = 2

distances = calculate_row_distances_with_nan(data, target_row_index)

k_min_indeces = np.argsort(distances)[:k]
filtered_data = data[~np.isnan(data[:, 0])]
first_column = filtered_data[:, 0]
val = np.average(first_column[k_min_indeces + 1])
print(val)
# We got our first element in the first row

6.00742683362464

In [163]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer

# Sample data with missing values (NaN)
data = np.genfromtxt("../../water_potability.csv", delimiter=",", skip_header=1) 
data = data[:1000, :]


# Create the imputer with 2 neighbors
imputer = KNNImputer(n_neighbors=4, weights="uniform", metric="nan_euclidean")

data_x = np.array([[np.nan, 1.04890455e+02,
                    2.07913190e+04, 7.30021187e+00,
                    3.68516441e+02, 5.64308654e+02,
                    1.03797831e+01, 8.69909705e+01,
                    2.96313538e+00, 0.00000000e+00],
                   [3.71608008e+00, 1.29422921e+02,
                    1.86300579e+04, 6.63524588e+00,
                    np.nan, 5.92885359e+02,
                    1.51800131e+01, 5.63290763e+01,
                    4.50065627e+00, 0.00000000e+00],
                   [8.09912419e+00, 2.24236259e+02,
                    1.99095417e+04, 9.27588360e+00,
                    np.nan, 4.18606213e+02,
                    1.68686369e+01, 6.64200925e+01,
                    3.05593375e+00, 0.00000000e+00],
                   [8.31676588e+00, 2.14373394e+02,
                    2.20184174e+04, 8.05933238e+00,
                    3.56886136e+02, np.nan,
                    1.84365245e+01, 1.00341674e+02,
                    np.nan, 0.00000000e+00],
                   [np.nan, 1.81101509e+02,
                    1.79789863e+04, 6.54659997e+00,
                    3.10135738e+02, 3.98410813e+02,
                    1.15582794e+01, np.nan,
                    np.nan, 0.00000000e+00]])
# Impute missing values
imputed_data_scikit = imputer.fit_transform(data)
#imputed_data = pd.DataFrame(imputed_data)

#print("Original Data:")
#print(data)

In [164]:
import numpy as np

def knn_imputer(data, k=3):
    """
    Impute missing values in a dataset using the KNN algorithm.

    Parameters:
        data (numpy.ndarray): 2D array with missing values (NaN).
        k (int): Number of nearest neighbors to consider for imputation.

    Returns:
        numpy.ndarray: Data with NaN values imputed.
    """
    def calculate_distance(row1, row2):
        """
        Calculate the distance between two rows, ignoring NaN values.
        """
        # Element-wise difference, ignoring NaNs
        diff = row1 - row2
        # Squared difference where both elements are not NaN
        squared_diff = np.where(~np.isnan(diff), diff ** 2, 0)
        # Count non-NaN elements
        valid_count = np.sum(~np.isnan(diff))
        if valid_count == 0:
            return np.inf  # If no valid comparisons, return infinite distance
        # Return square root of normalized sum
        return np.sqrt(np.sum(squared_diff) * ((len(row1) - 1) / valid_count))

    # Create a copy of the data to avoid modifying the original
    data_imputed = data.copy()

    # Get the indices of NaN values
    nan_indices = [
        [int(row), col]
        for col in range(data.shape[1])
        for row in np.argwhere(np.isnan(data[:, col])).flatten()
    ]

    for nan_row, nan_col in nan_indices:
        # Extract the target row with missing value
        target_row = data_imputed[nan_row]
        if(nan_row == 318 and nan_col):
            print(target_row)
        
        # Compute distances to all other rows
        distances = []
        for i, row in enumerate(data_imputed):
            if i != nan_row:  # Skip the target row itself
                distance = calculate_distance(target_row, row)
                distances.append((distance, i))

        # Sort distances and select the k nearest neighbors with non-NaN values in the column
        distances.sort(key=lambda x: x[0])
        if(nan_row == 318 and nan_col):
            print(distances)
        k_nearest_indices = [
            index for _, index in distances if not np.isnan(data[index, nan_col])
        ][:k]  # Limit to k neighbors

        # Impute the missing value using the mean of the k nearest neighbors
        if k_nearest_indices:
            neighbor_values = [data[i, nan_col] for i in k_nearest_indices]
            data_imputed[nan_row, nan_col] = np.average(neighbor_values)

    return data_imputed

k = 4
print(data[119, 7])
smh = imputed_data_scikit.copy()
smh[110, 7] = np.nan
imputed_data = knn_imputer(smh, k=k)
#print("Original Data:\n", data)
#print("Imputed Data:\n", imputed_data)

nan

In [165]:
import numpy as np

print(np.array_equal(np.round(imputed_data_scikit, 2), np.round(imputed_data, 2)))  # Output: False
print(imputed_data_scikit.shape)
print(imputed_data.shape)

# Find indices where the rounded values differ
mismatch_indices = np.where(np.round(imputed_data_scikit, 2) != np.round(imputed_data, 2))

print("Mismatch indices:", len(mismatch_indices[0]))

for i, j in zip(mismatch_indices[0], mismatch_indices[1]):
    print(f"Mismatch at row {i}, column {j}: scikit={imputed_data_scikit[i, j]}, custom={imputed_data[i, j]}")

True
(1000, 10)
(1000, 10)
Mismatch indices: 0